# Analysis of data analyst vacancies from linkedin

* [Description](#description)

## Description
<a id="description"></a>

The aim of work is analysis of relevant entry level analytics jobs. Data got from linkedin.com and related to period of time from 2022-09-01 to 2022-09-07. Analysis of vacancies include most claimed skills definition, study of destribution by types of employment and similar parameters.

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import datetime as dt
from datetime import datetime
from datetime import timedelta
import re

## Attributes parsing

Save the .csv file with data as a DataFrame.

In [2]:
df = pd.read_csv('C:\\Users\\1\\Downloads\\masterskaya_yandex_2022_09_07.csv')

In [3]:
df.head(15)

    Unnamed: 0                                               html
0            0  \n  <div>\n    <div class="\n        jobs-deta...
1            1  \n  <div>\n    <div class="\n        jobs-deta...
2            2  \n  <div>\n    <div class="\n        jobs-deta...
3            3  \n  <div>\n    <div class="\n        jobs-deta...
4            4  \n  <div>\n    <div class="\n        jobs-deta...
5            5  \n  <div>\n    <div class="\n        jobs-deta...
6            6  \n  <div>\n    <div class="\n        jobs-deta...
7            7  \n  <div>\n    <div class="\n        jobs-deta...
8            8  \n  <div>\n    <div class="\n        jobs-deta...
9            9  \n  <div>\n    <div class="\n        jobs-deta...
10          10  \n  <div>\n    <div class="\n        jobs-deta...
11          11  \n  <div>\n    <div class="\n        jobs-deta...
12          12  \n  <div>\n    <div class="\n        jobs-deta...
13          13  \n  <div>\n    <div class="\n        jobs-deta...
14          14  \n  <div>\n    <div class="\n        jobs-deta...

Cells content is presented by html code.

In [4]:
df.loc[0,'html']

'\n  <div>\n    <div class="\n        jobs-details__main-content jobs-details__main-content--single-pane full-width\n        ">\n        \n<!---->\n      \n<!---->\n      <div>\n        <div class="jobs-unified-top-card t-14">\n  <div class="relative">\n\n    <div class="jobs-unified-top-card__content--two-pane">\n<!---->\n        <a href="/jobs/view/3258155313/?alternateChannel=search&amp;refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&amp;trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&amp;trk=d_flagship3_search_srp_jobs" id="ember464" class="ember-view">\n          <h2 class="t-24 t-bold jobs-unified-top-card__job-title">Stage - Assistant Ingénieur Qualité - Beyrand (H/F)</h2>\n        </a>\n\n      <div class="jobs-unified-top-card__primary-description">\n          <span class="jobs-unified-top-card__subtitle-primary-grouping t-black">\n            <span class="jobs-unified-top-card__company-name">\n                  <a href="/company/hermes-group/life/" id="ember465" class="ember-view t-black t-normal">\n                    Hermès\n                  </a>\n            </span>\n              <span class="jobs-unified-top-card__bullet">\n                Limoges, Nouvelle-Aquitaine, France\n              </span>\n\n              <span class="jobs-unified-top-card__workplace-type">On-site</span>\n          </span>\n          <span class="jobs-unified-top-card__subtitle-secondary-grouping t-black--light">\n              <span class="jobs-unified-top-card__posted-date\n                  jobs-unified-top-card__posted-date--new t-bold">\n                13 minutes ago\n              </span>\n<!---->          </span>\n      </div>\n\n      <div class="mt5 mb2">\n          <ul>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="job" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M17 6V5a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H2v4a3 3 0 003 3h14a3 3 0 003-3V6zM9 5a1 1 0 011-1h4a1 1 0 011 1v1H9zm10 9a4 4 0 003-1.38V17a3 3 0 01-3 3H5a3 3 0 01-3-3v-4.38A4 4 0 005 14z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->Internship · Entry level<!---->\n                  </span>\n                </li>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="company" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M4 2v20h16V2zm14 18h-4v-2h-4v2H6V4h12zm-7-8H8v-2h3zm0 4H8v-2h3zm5-4h-3v-2h3zm-5-4H8V6h3zm5 0h-3V6h3zm0 8h-3v-2h3z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->10,001+ employees · Retail Luxury Goods and Jewelry<!---->\n                  </span>\n                </li>\n                    <li class="jobs-unified-top-card__job-insight jobs-unified-top-card__job-insight--highlight">\n                      <div class="flex-shrink-zero mr2 t-black--light">\n                        <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="lightbulb" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M10 20h4v.1a1.9 1.9 0 01-1.9 1.9h-.2a1.9 1.9 0 01-1.9-1.9zm4.68-14.47A1 1 0 0016 5l.76-1.85a1 1 0 00-.54-1.3 1 1 0 00-1.31.54l-.76 1.85a1 1 0 00.53 1.29zm5.09 4.33l1.85-.76a1 1 0 00.54-1.31 1 1 0 00-1.3-.54L19 8a1 1 0 00-.54 1.31 1 1 0 001.3.55zM4.23 14.14l-1.85.76a1 1 0 00-.54 1.31 1 1 0 001.3.54L5 16a1 1 0 00.54-1.31 1 1 0 00-1.3-.55zm17.39.76l-1.85-.76A1 1 0 0019 16l1.85.76a1 1 0 00.78-1.86zM5 8l-1.86-.75a1 1 0 00-1.3.54 1 1 0 00.54 1.31l1.85.76A1 1 0 005 8zm3-3a1 1 0 001.31.54 1 1 0 00.54-1.3L9.1 2.38a1 1 0 00-1.31-.54 1 1 0 00-.54 1.3zm9 6.91V12a5.48 5.48 0 01-1.61 3.88l-.07.08a3.94 3.94 0 00-1.08 1.94L14 19h-4l-.24-1.08A4 4 0 008.68 16l-.07-.07A5.51 5.51 0 017 12v-.1A4.9 4.9 0 0111.9 7h.2a4.9 4.9 0 014.9 4.9zm-2 0A2.9 2.9 0 0012.11 9h-.21A2.9 2.9 0 009 11.9v.1a3.47 3.47 0 001 2.47l.08.08a5.92 5.92 0 011.5 2.45h.84a6 6 0 011.48-2.44l.08-.07A3.48 3.48 0 0015 12z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                      </div>\n                      <span>\n                        <!---->See recent hiring trends for Hermès.<span class="white-space-pre"> </span><a class="app-aware-link" target="_self" href="https://www.linkedin.com/premium/products/?family=JSS&amp;upsellOrderOrigin=premium_job_details_summary_card&amp;utype=job"><!---->Unlock more Premium insights for free<!----></a>\n                      </span>\n                    </li>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon type="radar-screen-icon" class="ivm-view-attr__icon--signal-positive " size="large" role="img" aria-label="Actively recruiting"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M12 20a8 8 0 010-16 7.91 7.91 0 014.9 1.69l-1.43 1.42a6 6 0 101.42 1.42l3.82-3.82a1 1 0 000-1.41A1 1 0 0020 3a1 1 0 00-.7.29l-1 1A10 10 0 1022 12h-2a8 8 0 01-8 8zm5-8a5 5 0 11-5-5 4.93 4.93 0 012.76.82l-2.24 2.24A2.24 2.24 0 0012 10a2 2 0 102 2 2.24 2.24 0 00-.07-.51l2.24-2.24A5 5 0 0117 12z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->Actively recruiting<!---->\n                  </span>\n                </li>\n          </ul>\n              </div>\n\n      <div class="mt5">\n          <div class="display-flex">\n              <div class="jobs-s-apply jobs-s-apply--fadein inline-flex mr2">\n    <div class="jobs-apply-button--top-card">\n  <button role="link" aria-label="Apply to Stage - Assistant Ingénieur Qualité - Beyrand (H/F) on company website" id="ember654" class="jobs-apply-button artdeco-button artdeco-button--icon-right artdeco-button--3 artdeco-button--primary ember-view">  <li-icon aria-hidden="true" type="link-external" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">\n  <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>\n</svg></li-icon>\n\n<span class="artdeco-button__text">\n    Apply\n</span></button>\n</div>\n</div>\n              <button class="jobs-save-button artdeco-button artdeco-button--3 artdeco-button--secondary" type="button">\n<!---->      <span aria-hidden="true">\n        Save\n      </span>\n    <span class="a11y-text">\n      Save Stage - Assistant Ingénieur Qualité - Beyrand (H/F) at Hermès\n    </span>\n</button>\n          </div>\n\n<!---->\n<!----><!---->      </div>\n\n<!---->\n<!---->\n<!---->\n<!---->    </div>\n\n<!---->\n<!---->\n    <div class="jobs-unified-top-card__buttons-container absolute">\n      <div class="display-flex flex-column">\n        <div class="display-flex justify-flex-end">\n            <div id="ember466" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view">\n\n    <button aria-expanded="false" id="ember467" class="social-share__dropdown-trigger artdeco-button artdeco-button--3 artdeco-button--tertiary artdeco-button--circle artdeco-button--muted artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n      <li-icon aria-hidden="true" type="share-linkedin" class="artdeco-button__icon" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M23 12l-4.61 7H16l4-6H8a3.92 3.92 0 00-4 3.84V17a4 4 0 00.19 1.24L5.12 21H3l-.73-2.22A6.4 6.4 0 012 16.94 6 6 0 018 11h12l-4-6h2.39z"></path>\n</svg></li-icon>\n      <span class="artdeco-button__text">Share</span>\n    \n<!----></button>\n\n  <div tabindex="-1" aria-hidden="true" id="ember468" class="social-share__content text-align-left artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n\n<div>\n    \n    \n<!---->    \n  \n\n</div>\n            <div id="ember469" class="artdeco-dropdown jobs-options artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view">\n  \n              <button aria-expanded="false" id="ember470" class="artdeco-button artdeco-button--3 artdeco-button--tertiary artdeco-button--muted artdeco-button--circle artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n                <li-icon aria-hidden="true" type="overflow-web-ios" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"></path>\n</svg></li-icon>\n                <span class="artdeco-button__text">\n                  Show more options\n                </span>\n              \n<!----></button>\n            \n  <div tabindex="-1" aria-hidden="true" id="ember471" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n        </div>\n<!---->      </div>\n    </div>\n  </div>\n    <div class="jobs-unified-top-card__sticky-header\n        jobs-unified-top-card__sticky-header--disabled">\n      <div class="jobs-unified-top-card__title-container">\n          <a data-control-id="grGqx/HW0EZ+orBvEr/t+g==" href="/jobs/view/3258155313/?alternateChannel=search&amp;refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&amp;trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&amp;trk=d_flagship3_search_srp_jobs" id="ember472" class="ember-view">\n            <h2 class="t-16 t-black t-bold truncate">\n              Stage - Assistant Ingénieur Qualité - Beyrand (H/F)\n            </h2>\n          </a>\n        <div class="t-14 truncate">\n          <span>Hermès</span>\n            <span class="jobs-unified-top-card__bullet">Limoges, Nouvelle-Aquitaine, France</span>\n            <span class="jobs-unified-top-card__workplace-type">On-site</span>\n        </div>\n      </div>\n      <div class="jobs-unified-top-card__sticky-buttons-container">\n          <div class="jobs-s-apply jobs-s-apply--fadein inline-flex mr2">\n    <div class="jobs-apply-button--top-card">\n  <button role="link" aria-label="Apply to Stage - Assistant Ingénieur Qualité - Beyrand (H/F) on company website" id="ember655" class="jobs-apply-button artdeco-button artdeco-button--icon-right artdeco-button--2 artdeco-button--primary ember-view">  <li-icon aria-hidden="true" type="link-external" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">\n  <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>\n</svg></li-icon>\n\n<span class="artdeco-button__text">\n    Apply\n</span></button>\n</div>\n</div>\n\n          <button class="jobs-save-button mr2 artdeco-button artdeco-button--2 artdeco-button--secondary" aria-expanded="false" type="button">\n<!---->      <span aria-hidden="true">\n        Save\n      </span>\n    <span class="a11y-text">\n      Save Stage - Assistant Ingénieur Qualité - Beyrand (H/F) at Hermès\n    </span>\n</button>\n\n        <div id="ember473" class="artdeco-dropdown jobs-options artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view inline-flex">\n  \n          <button aria-expanded="false" id="ember474" class="artdeco-button artdeco-button--2 artdeco-button--tertiary artdeco-button--muted artdeco-button--circle artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n\n            <li-icon aria-hidden="true" type="overflow-web-ios" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"></path>\n</svg></li-icon>\n            <span class="artdeco-button__text">\n              Show more options\n            </span>\n          \n<!----></button>\n        \n  <div tabindex="-1" aria-hidden="true" id="ember475" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n      </div>\n    </div>\n</div>\n\n<!---->      </div>\n\n<!---->\n        <div class="jobs-box--fadein jobs-box--full-width jobs-box--with-cta-large jobs-description\n    \n    \n    \n     jobs-description--reformatted\n    \n    ">\n\n<!---->\n  <article class="jobs-description__container\n      m4">\n    <div class="jobs-description__content jobs-description-content\n        ">\n      <div class="jobs-box__html-content jobs-description-content__text t-14 t-normal\n          jobs-description-content__text--stretch" id="job-details" tabindex="-1">\n<!---->\n<!---->\n<!---->        <span>\n                <strong><u>LA SOCIETE :</u> </strong><p><br>\n</p>Créée en 1926, la société Beyrand, filiale du Groupe Hermès depuis 2013, met au point, développe et reproduit les décors de ses clients sur des supports tels que la céramique (bone china, faïence et porcelaine), l\'émail, le verre ou le cuir.<p><br>\n</p>Par la précision de son savoir-faire et sa capacité à innover, Beyrand se positionne comme référent mondial dans le domaine de l’impression sérigraphique et partenaire d’excellence pour l’industrie du luxe.<p><br>\n</p>Des choix stratégiques et technologiques ambitieux destinés à s’adapter aux besoins de ses clients, actuels et à venir, permettent aujourd’hui à Beyrand d’étendre son expertise au-delà de ses marchés traditionnels (Art de la Table, sanitaire, <i>giftware</i>) pour conquérir et développer de nouveaux territoires (notamment maroquinerie). Son ambition est d’affirmer son positionnement d’excellence sur le marché B2B de décoration de l’industrie du luxe, en proposant un savoir-faire de décoration de haute précision sur une variété de supports, faisant appel à une variété de technologies.<p><br>\n</p><strong>Stage de 6 mois à pouvoir pour janvier 2023. Basé à Saint-Just-le-Martel, à proximité de Limoges.</strong><p><br>\n</p><strong><u>MISSIONS GENERALE :</u></strong><p><br>\n</p>Le/la stagiaire Ingénieur Qualité aura pour mission d’accompagner le Responsable Qualité du site dans la mise en place de méthodes de résolution de problèmes dans les ateliers, dans la formalisation de nos processus et plans de contrôle ainsi que dans la robustesse des contrôles amonts au process de fabrication. Ces étapes s’inscrivent dans notre feuille de route d’amélioration continue de la Qualité opérationnelle de l’entreprise et de la satisfaction de nos clients.<p><br>\n</p><strong><u> PRINCIPALES ACTIVITES : </u></strong><p><br>\n</p><ul><li>Résolutions de problèmes terrain</li><li>Déploiement de méthode type QRQC en ateliers de production (impression, couleurs, écrans) </li><li>Participation à des groupes de travail sur la résolution de problèmes Qualité (internes &amp; externes) </li><li>Coconstruire les outils de formation et piloter leurs déploiements auprès des opérationnels </li><li>Opérations de contrôles</li><li>Définition/formalisation de plans de contrôles génériques par type de produit </li><li>Animation des tests Reproductibilité &amp; Répétabilité des outils de mesure (spectrophotomètres…) </li><li>Amélioration/mise en place de contrôles sur les paramètres critiques en amont de l’impression (couleur des pâtes, dimensions tissus…) </li><li>Système qualité</li><li>Déploiement du système qualité sur les postes (modes opératoires et procédures) </li><li>Mettre en place des audits produit/process pour renforcer la culture Qualité sur le site </li><li>Participation à la capitalisation des savoir-faire <br>\n</li></ul><p><br>\n</p><strong><u>PROFIL :</u></strong><p><br>\n</p>Étudiant(e) de formation Bac +5 à dominante industrielle à la recherche d’un stage de fin d’études (6 mois), avec idéalement une première expérience en entreprise (Qualité, Méthode, Production).<p><br>\n</p>Vous êtes à l’aise avec les outils et méthodes de l’amélioration continue : Plan de surveillance, 5 Pourquoi, 5M, 5S, Muda, AMDEC Risques…<p><br>\n</p>Vous souhaitez vous investir dans une expérience formatrice et très opérationnelle.<p><br>\n</p>Vous êtes curieux, autonome et vous avez de grandes capacités d’analyse et de rigueur, tout en ayant un bon sens pratique et un goût pour le terrain, avec des capacités à mettre en œuvre les méthodologies de résolution de problème.<p><br>\n</p>Enfin, vous avez un excellent niveau de communication écrit et oral.\n<!---->        </span>\n      </div>\n<!---->      <div class="jobs-description__details">\n<!---->\n      </div>\n    </div>\n  </article>\n<!----></div>\n<!----><!---->\n                <div id="SALARY" class="ember-view jobs-box--generic-occludable-area-large   jobs-unified-description__salary-main-rail-card">\n<!---->    </div>\n\n\n<!----><!---->\n<!---->\n<!---->\n                <div id="ember657" class="ember-view jobs-box--generic-occludable-area-large  ">\n<!---->    </div>\n\n\n<!---->    </div>\n\n<!---->  </div>\n\n  <div id="ember477" class="ember-view"><!----></div>\n\n<div id="ember478" class="ember-view"><div id="ember479" class="ember-view"><!----></div></div>\n\n  <div>\n  <div id="ember480" class="ember-view"><!----></div>\n</div>\n\n  <div id="ember481" class="ember-view"><!----></div>\n\n<!---->\n  <div class="jobs-message-modal">\n  <div id="ember482" class="ember-view"><!----></div>\n</div>\n\n<!---->\n<!---->\n<!---->\n  <div id="ember483" class="ember-view"><!----></div>\n'

There is link on vacancy near the a tag. There is vacancy name near the h2 tag.

In [5]:
soup = BeautifulSoup(df.loc[2,'html'])

In [6]:
soup.h2.text

'Online Data Analyst'

In [7]:
df['title'] = df['html'].apply(lambda x: BeautifulSoup(x).find('h2').text.strip())

In [8]:
df

,Unnamed: 0,html,title
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil..."
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst
...,...,...,...
767,767,"\n <div>\n <div class=""\n jobs-deta...",Sviluppatore php
768,768,"\n <div>\n <div class=""\n jobs-deta...",Junior Developer (J12996)
769,769,"\n <div>\n <div class=""\n jobs-deta...",Principal Product Designer (Design System + De...
770,770,"\n <div>\n <div class=""\n jobs-deta...",Backend Engineer - Personalization
771,771,"\n <div>\n <div class=""\n jobs-deta...",Stage - Consultant(e) Data Engineer - Big Data...

Get link for every job.

In [9]:
df['link'] = df['html'].apply(lambda x: 'https://linkedin.com' + BeautifulSoup(x).find('a').get('href').strip())

In [10]:
df['link']

0      https://linkedin.com/jobs/view/3258155313/?alt...
1      https://linkedin.com/jobs/view/3249651625/?alt...
2      https://linkedin.com/jobs/view/3248499929/?alt...
3      https://linkedin.com/jobs/view/3248879065/?alt...
4      https://linkedin.com/jobs/view/3257222954/?alt...
                             ...
767    https://linkedin.com/jobs/view/3249468195/?alt...
768    https://linkedin.com/jobs/view/3253817004/?alt...
769    https://linkedin.com/jobs/view/2874639790/?alt...
770    https://linkedin.com/jobs/view/3254092624/?alt...
771    https://linkedin.com/jobs/view/3241983304/?alt...
Name: link, Length: 772, dtype: object

Location of vacancy is located near the \<span> tag in 'jobs-unified-top-card__bullet' class. Write the function for adding columns with names of cities and countries.

In [11]:
soup.find('span', class_ = "jobs-unified-top-card__bullet").text.strip()

'Skara, Vastra Gotaland County, Sweden'

In [14]:
def get_geo(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = "jobs-unified-top-card__bullet").text.strip()
    except:
        return np.NaN

In [15]:
df['geo'] = df['html'].apply(get_geo)

In [16]:
df

,Unnamed: 0,html,title,link,geo
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France"
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France"
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden"
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium"
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany"
...,...,...,...,...,...
767,767,"\n <div>\n <div class=""\n jobs-deta...",Sviluppatore php,https://linkedin.com/jobs/view/3249468195/?alt...,"Lombardy, Italy"
768,768,"\n <div>\n <div class=""\n jobs-deta...",Junior Developer (J12996),https://linkedin.com/jobs/view/3253817004/?alt...,"Salamanca, Castilla and Leon, Spain"
769,769,"\n <div>\n <div class=""\n jobs-deta...",Principal Product Designer (Design System + De...,https://linkedin.com/jobs/view/2874639790/?alt...,"Budapest, Hungary"
770,770,"\n <div>\n <div class=""\n jobs-deta...",Backend Engineer - Personalization,https://linkedin.com/jobs/view/3254092624/?alt...,Denmark
771,771,"\n <div>\n <div class=""\n jobs-deta...",Stage - Consultant(e) Data Engineer - Big Data...,https://linkedin.com/jobs/view/3241983304/?alt...,"Toulouse, Occitanie, France"

In [17]:
def get_city(cell):
    try:
        if len(cell.split(',')) > 1:
            return cell.split(',')[0].strip()
        elif 'Greater' in cell:
            return cell.split()[1].strip()
        elif 'Area' in cell:
            return cell.split()[0].strip()
    except:
        return np.NaN

In [18]:
df['city'] = df['geo'].apply(get_city)

In [19]:
df.head(20)

,Unnamed: 0,html,title,link,geo,city
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw
10,10,"\n <div>\n <div class=""\n jobs-deta...",Junior Test Analyst,https://linkedin.com/jobs/view/3257261597/?alt...,"Budapest, Hungary",Budapest
11,11,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257247449/?alt...,Przemyśl Metropolitan Area,Przemyśl
12,12,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst H/F,https://linkedin.com/jobs/view/3249020546/?alt...,"Toulouse, Occitanie, France",Toulouse
13,13,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist e-Commerce & Acquisition Monétique,https://linkedin.com/jobs/view/3248153651/?alt...,"Île-de-France, France",Île-de-France
14,14,"\n <div>\n <div class=""\n jobs-deta...",Ingénieur de recherche en traitement de donnée...,https://linkedin.com/jobs/view/3247851197/?alt...,"Rueil-Malmaison, Île-de-France, France",Rueil-Malmaison
15,15,"\n <div>\n <div class=""\n jobs-deta...",INGENIERO/A PRODUCTO Y CALIDAD AUTOMOCIÓN,https://linkedin.com/jobs/view/3257345539/?alt...,"Zaragoza, Aragon, Spain",Zaragoza
16,16,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist - Experience,https://linkedin.com/jobs/view/3254095477/?alt...,Denmark,None
17,17,"\n <div>\n <div class=""\n jobs-deta...",Stage - Data Analyst (H/F),https://linkedin.com/jobs/view/3249145897/?alt...,"Toulouse, Occitanie, France",Toulouse
18,18,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst (F/H),https://linkedin.com/jobs/view/3253211936/?alt...,"Lille, Hauts-de-France, France",Lille
19,19,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst (Tableau),https://linkedin.com/jobs/view/3248368719/?alt...,Gibraltar,None

In [20]:
def get_country(cell):
    try:
        if len(cell.split(',')) > 1:
            return cell.split(',')[-1].strip()
        else:
            return cell.split(',')[0].strip()
    except:
        return np.NaN

In [21]:
df['country'] = df['geo'].apply(get_country)

In [22]:
df

,Unnamed: 0,html,title,link,geo,city,country
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany
...,...,...,...,...,...,...,...
767,767,"\n <div>\n <div class=""\n jobs-deta...",Sviluppatore php,https://linkedin.com/jobs/view/3249468195/?alt...,"Lombardy, Italy",Lombardy,Italy
768,768,"\n <div>\n <div class=""\n jobs-deta...",Junior Developer (J12996),https://linkedin.com/jobs/view/3253817004/?alt...,"Salamanca, Castilla and Leon, Spain",Salamanca,Spain
769,769,"\n <div>\n <div class=""\n jobs-deta...",Principal Product Designer (Design System + De...,https://linkedin.com/jobs/view/2874639790/?alt...,"Budapest, Hungary",Budapest,Hungary
770,770,"\n <div>\n <div class=""\n jobs-deta...",Backend Engineer - Personalization,https://linkedin.com/jobs/view/3254092624/?alt...,Denmark,None,Denmark
771,771,"\n <div>\n <div class=""\n jobs-deta...",Stage - Consultant(e) Data Engineer - Big Data...,https://linkedin.com/jobs/view/3241983304/?alt...,"Toulouse, Occitanie, France",Toulouse,France

Check jobs without city name.

In [23]:
df[df['city'].isna()]['geo'].unique()

array(['Denmark', 'Gibraltar', 'Poland', 'Belgium', 'France', 'Germany',
       'Finland', 'Slovakia', 'Spain', 'Netherlands', 'Sweden',
       'Cologne Bonn Region', 'Ireland', 'United Kingdom', 'Slovenia',
       'Croatia', 'Switzerland', 'Portugal',
       'Hannover-Braunschweig-Göttingen-Wolfsburg Region', 'Czechia'],
      dtype=object)

Some names of locations contain words like Area or Greater. Define names of countries which include them.

In [24]:
# Use geonames.org to get country by region name
def get_country_from(cell):
    if 'Greater' in cell:
        city_name = cell.split()[1].strip()
        response = requests.request("GET", f"https://www.geonames.org/search.html?q={city_name}&country=")
        country = BeautifulSoup(response.text).find_all('a')[9].text
        if country:
            return country
        else: 
            return cell
    elif 'Area' in cell:
        city_name = cell.split()[0].strip()
        response = requests.request("GET", f"https://www.geonames.org/search.html?q={city_name}&country=")
        country = BeautifulSoup(response.text).find_all('a')[9].text
        if country:
            return country
        else:
            return cell
    else:
        return cell

In [25]:
df['country'] = df['country'].apply(get_country_from)

In [26]:
df.head(15)

,Unnamed: 0,html,title,link,geo,city,country
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset,France
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy,France
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie,France
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland
10,10,"\n <div>\n <div class=""\n jobs-deta...",Junior Test Analyst,https://linkedin.com/jobs/view/3257261597/?alt...,"Budapest, Hungary",Budapest,Hungary
11,11,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257247449/?alt...,Przemyśl Metropolitan Area,Przemyśl,Przemyśl Metropolitan Area
12,12,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst H/F,https://linkedin.com/jobs/view/3249020546/?alt...,"Toulouse, Occitanie, France",Toulouse,France
13,13,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist e-Commerce & Acquisition Monétique,https://linkedin.com/jobs/view/3248153651/?alt...,"Île-de-France, France",Île-de-France,France
14,14,"\n <div>\n <div class=""\n jobs-deta...",Ingénieur de recherche en traitement de donnée...,https://linkedin.com/jobs/view/3247851197/?alt...,"Rueil-Malmaison, Île-de-France, France",Rueil-Malmaison,France

Workplace type is near span tag in 'jobs-unified-top-card__workplace-type' class.

In [27]:
def get_workplace_type(row):
    try:
        info = BeautifulSoup(row).find_all('div', class_='jobs-unified-top-card__content--two-pane')
        for html in info:
            workplace_type = html.find_all('span', class_= "jobs-unified-top-card__workplace-type", limit=1)
            return workplace_type[0].text.strip()
    except:
        return np.NaN

In [28]:
df['workplace_type'] = df['html'].apply(get_workplace_type)

In [29]:
df

,Unnamed: 0,html,title,link,geo,city,country,workplace_type
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote
...,...,...,...,...,...,...,...,...
767,767,"\n <div>\n <div class=""\n jobs-deta...",Sviluppatore php,https://linkedin.com/jobs/view/3249468195/?alt...,"Lombardy, Italy",Lombardy,Italy,On-site
768,768,"\n <div>\n <div class=""\n jobs-deta...",Junior Developer (J12996),https://linkedin.com/jobs/view/3253817004/?alt...,"Salamanca, Castilla and Leon, Spain",Salamanca,Spain,Remote
769,769,"\n <div>\n <div class=""\n jobs-deta...",Principal Product Designer (Design System + De...,https://linkedin.com/jobs/view/2874639790/?alt...,"Budapest, Hungary",Budapest,Hungary,Remote
770,770,"\n <div>\n <div class=""\n jobs-deta...",Backend Engineer - Personalization,https://linkedin.com/jobs/view/3254092624/?alt...,Denmark,None,Denmark,Remote
771,771,"\n <div>\n <div class=""\n jobs-deta...",Stage - Consultant(e) Data Engineer - Big Data...,https://linkedin.com/jobs/view/3241983304/?alt...,"Toulouse, Occitanie, France",Toulouse,France,NaN

Now add company names.

In [32]:
soup.find('span', class_="jobs-unified-top-card__company-name").text.strip()

'TELUS International AI Data Solutions'

In [33]:
def get_company_name(cell):
    try:
        return BeautifulSoup(cell).find('span', class_="jobs-unified-top-card__company-name").text.strip()
    except:
        return np.NaN

In [34]:
df['company'] = df['html'].apply(get_company_name)

In [35]:
df.head(15)

,Unnamed: 0,html,title,link,geo,city,country,workplace_type,company
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site,Hermès
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,AUSY
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany,Remote,TELUS International AI Data Solutions
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset,France,On-site,STMicroelectronics
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy,France,On-site,Carrefour
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie,France,On-site,TotalEnergies
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland,Hybrid,Capgemini
10,10,"\n <div>\n <div class=""\n jobs-deta...",Junior Test Analyst,https://linkedin.com/jobs/view/3257261597/?alt...,"Budapest, Hungary",Budapest,Hungary,Hybrid,Jaguar Land Rover
11,11,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257247449/?alt...,Przemyśl Metropolitan Area,Przemyśl,Przemyśl Metropolitan Area,Remote,TELUS International AI Data Solutions
12,12,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst H/F,https://linkedin.com/jobs/view/3249020546/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,GESER-BEST - FRANCE
13,13,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist e-Commerce & Acquisition Monétique,https://linkedin.com/jobs/view/3248153651/?alt...,"Île-de-France, France",Île-de-France,France,On-site,Societe Generale
14,14,"\n <div>\n <div class=""\n jobs-deta...",Ingénieur de recherche en traitement de donnée...,https://linkedin.com/jobs/view/3247851197/?alt...,"Rueil-Malmaison, Île-de-France, France",Rueil-Malmaison,France,On-site,IFP Energies nouvelles

Add number of employees.

In [36]:
soup.find('div', class_ = 'mt5 mb2').find_all('li')[1].text.strip().split('·')[0].strip()

'10,001+ employees'

In [37]:
def get_employees_number(cell):
    try:
        return BeautifulSoup(cell).find('div', class_ = 'mt5 mb2').find_all('li')[1].text.strip().split('·')[0].strip()
    except:
        return np.NaN

In [38]:
df['employees_number'] = df['html'].apply(get_employees_number)

In [39]:
df.head(15)

,Unnamed: 0,html,title,link,geo,city,country,workplace_type,company,employees_number
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site,Hermès,"10,001+ employees"
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,AUSY,"5,001-10,000 employees"
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions,"10,001+ employees"
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International,"10,001+ employees"
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees"
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees"
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset,France,On-site,STMicroelectronics,"10,001+ employees"
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy,France,On-site,Carrefour,"10,001+ employees"
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie,France,On-site,TotalEnergies,"10,001+ employees"
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland,Hybrid,Capgemini,"10,001+ employees"
10,10,"\n <div>\n <div class=""\n jobs-deta...",Junior Test Analyst,https://linkedin.com/jobs/view/3257261597/?alt...,"Budapest, Hungary",Budapest,Hungary,Hybrid,Jaguar Land Rover,"10,001+ employees"
11,11,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257247449/?alt...,Przemyśl Metropolitan Area,Przemyśl,Przemyśl Metropolitan Area,Remote,TELUS International AI Data Solutions,"10,001+ employees"
12,12,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst H/F,https://linkedin.com/jobs/view/3249020546/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,GESER-BEST - FRANCE,201-500 employees
13,13,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist e-Commerce & Acquisition Monétique,https://linkedin.com/jobs/view/3248153651/?alt...,"Île-de-France, France",Île-de-France,France,On-site,Societe Generale,"10,001+ employees"
14,14,"\n <div>\n <div class=""\n jobs-deta...",Ingénieur de recherche en traitement de donnée...,https://linkedin.com/jobs/view/3247851197/?alt...,"Rueil-Malmaison, Île-de-France, France",Rueil-Malmaison,France,On-site,IFP Energies nouvelles,"1,001-5,000 employees"

Append field of company activity.

In [40]:
def get_field_of_activity(cell):
    try:
        return BeautifulSoup(cell).find('div', class_ = 'mt5 mb2').find_all('li')[1].text.strip().split('·')[1].strip()
    except:
        return np.NaN

In [41]:
df['field_of_activity'] = df['html'].apply(get_field_of_activity)

In [42]:
df.head(10)

,Unnamed: 0,html,title,link,geo,city,country,workplace_type,company,employees_number,field_of_activity
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site,Hermès,"10,001+ employees",Retail Luxury Goods and Jewelry
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,AUSY,"5,001-10,000 employees",IT Services and IT Consulting
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International,"10,001+ employees",IT Services and IT Consulting
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset,France,On-site,STMicroelectronics,"10,001+ employees",Semiconductor Manufacturing
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy,France,On-site,Carrefour,"10,001+ employees",Retail
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie,France,On-site,TotalEnergies,"10,001+ employees",Oil and Gas
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland,Hybrid,Capgemini,"10,001+ employees",IT Services and IT Consulting

Write function for adding number of applicants.

In [43]:
def get_applicants(cell):
    try:
        string = BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__applicant-count').text.strip()
        return int(''.join([x for x in string if x.isdigit()]))
    except:
        return np.NaN

In [44]:
df['applicants'] = df['html'].apply(get_applicants)

In [45]:
df.head(10)

,Unnamed: 0,html,title,link,geo,city,country,workplace_type,company,employees_number,field_of_activity,applicants
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site,Hermès,"10,001+ employees",Retail Luxury Goods and Jewelry,NaN
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,AUSY,"5,001-10,000 employees",IT Services and IT Consulting,6.0
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,12.0
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International,"10,001+ employees",IT Services and IT Consulting,11.0
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,2.0
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,4.0
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset,France,On-site,STMicroelectronics,"10,001+ employees",Semiconductor Manufacturing,25.0
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy,France,On-site,Carrefour,"10,001+ employees",Retail,34.0
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie,France,On-site,TotalEnergies,"10,001+ employees",Oil and Gas,22.0
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland,Hybrid,Capgemini,"10,001+ employees",IT Services and IT Consulting,18.0

In [46]:
date_of_parsing = '2022/09/07 17:00:00'

In [47]:
date_of_parsing = datetime.strptime(date_of_parsing, '%Y/%m/%d %H:%M:%S')
print(date_of_parsing)

2022-09-07 17:00:00

In [48]:
x = timedelta(days = 6)

In [49]:
new_date = date_of_parsing - x

In [50]:
new_date

datetime.datetime(2022, 9, 1, 17, 0)

Добавим время публикации вакансии в linkedin.

In [51]:
def get_date(cell):
    date_of_parsing = datetime.strptime('2022/09/07 17:00:00', '%Y/%m/%d %H:%M:%S')
    try:
        string = BeautifulSoup(cell).find('span', class_ = "jobs-unified-top-card__posted-date").text.strip()
        if 'days' in string:
            days_ago = int(''.join([x for x in string if x.isdigit()]))
            return date_of_parsing - timedelta(days = days_ago)
        elif 'hours' in string:
            hours_ago = int(''.join([x for x in string if x.isdigit()]))
            return date_of_parsing - timedelta(hours = hours_ago)
        else:
            minutes_ago = int(''.join([x for x in string if x.isdigit()]))
            return date_of_parsing - timedelta(minutes = minutes_ago)
    except:
        return np.NaN

In [52]:
df['posted_date'] = df['html'].apply(get_date)

In [53]:
df.head(10)

,Unnamed: 0,html,title,link,geo,city,country,workplace_type,company,employees_number,field_of_activity,applicants,posted_date
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site,Hermès,"10,001+ employees",Retail Luxury Goods and Jewelry,NaN,2022-09-07 16:47:00
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,AUSY,"5,001-10,000 employees",IT Services and IT Consulting,6.0,2022-09-03 17:00:00
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,12.0,2022-09-01 17:00:00
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International,"10,001+ employees",IT Services and IT Consulting,11.0,2022-09-01 17:00:00
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,2.0,2022-09-07 09:00:00
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,4.0,2022-09-07 09:00:00
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset,France,On-site,STMicroelectronics,"10,001+ employees",Semiconductor Manufacturing,25.0,2022-09-02 17:00:00
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy,France,On-site,Carrefour,"10,001+ employees",Retail,34.0,2022-09-02 17:00:00
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie,France,On-site,TotalEnergies,"10,001+ employees",Oil and Gas,22.0,2022-09-01 17:00:00
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland,Hybrid,Capgemini,"10,001+ employees",IT Services and IT Consulting,18.0,2022-09-05 17:00:00

Form list of skills needed for the analyst. Then write function for searching skills in job descriptions.

In [54]:
skills = (['datahub', 'api', 'github', 'google analytics', 'adobe analytics', 'ibm coremetrics', 'omniture'
            'gitlab', 'erwin', 'hadoop', 'spark', 'hive'
           'databricks', 'aws', 'gcp', 'azure','excel',
            'redshift', 'bigquery', 'snowflake',  'hana'
            'grafana', 'kantar', 'spss', 
           'asana', 'basecamp', 'jira', 'dbeaver','trello', 'miro', 'salesforce', 
           'rapidminer', 'thoughtspot',  'power point',  'docker', 'jenkins','integrate.io', 'talend', 'apache nifi','aws glue','pentaho','google data flow',
             'azure data factory','xplenty','skyvia','iri voracity','xtract.io','dataddo', 'ssis',
             'hevo data','informatica','oracle data integrator','k2view','cdata sync','querysurge', 
             'rivery', 'dbconvert', 'alooma', 'stitch', 'fivetran', 'matillion','streamsets','blendo',
             'iri voracity','logstash', 'etleap', 'singer', 'apache camel','actian', 'airflow', 'luidgi', 'datastage',
           'python', 'vba', 'scala', ' r ', 'java script', 'julia', 'sql', 'matlab', 'java', 'html', 'c++', 'sas',
           'data studio', 'tableau', 'looker', 'powerbi', 'cognos', 'microstrategy', 'spotfire',
             'sap business objects','microsoft sql server', 'oracle business intelligence', 'yellowfin',
             'webfocus','sas visual analytics', 'targit', 'izenda',  'sisense', 'statsbot', 'panorama', 'inetsoft',
             'birst', 'domo', 'metabase', 'redash', 'power bi', 'alteryx', 'dataiku', 'qlik sense', 'qlikview'
          ])

In [55]:
def get_skills(cell):
    vacancy_description = BeautifulSoup(cell).find('div', {'id':'job-details'}).text.strip()
    list_skills = []
    for skill in skills:
        if skill in vacancy_description.lower().replace('powerbi', 'power bi'):
            list_skills.append(skill)
    return list_skills

In [56]:
df['skills'] = df['html'].apply(get_skills)

In [57]:
df.head(25)

,Unnamed: 0,html,title,link,geo,city,country,workplace_type,company,employees_number,field_of_activity,applicants,posted_date,skills
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site,Hermès,"10,001+ employees",Retail Luxury Goods and Jewelry,NaN,2022-09-07 16:47:00,"[api, excel]"
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,AUSY,"5,001-10,000 employees",IT Services and IT Consulting,6.0,2022-09-03 17:00:00,[matlab]
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,12.0,2022-09-01 17:00:00,[]
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International,"10,001+ employees",IT Services and IT Consulting,11.0,2022-09-01 17:00:00,[]
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,2.0,2022-09-07 09:00:00,[]
5,5,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,4.0,2022-09-07 09:00:00,[]
6,6,"\n <div>\n <div class=""\n jobs-deta...",Alternant/ Alternante data analyst M/F,https://linkedin.com/jobs/view/3244114599/?alt...,"Rousset, Provence-Alpes-Côte d'Azur, France",Rousset,France,On-site,STMicroelectronics,"10,001+ employees",Semiconductor Manufacturing,25.0,2022-09-02 17:00:00,"[excel, python, sql, java, html, spotfire, pow..."
7,7,"\n <div>\n <div class=""\n jobs-deta...",Alternant(e) Data Scientist (H/F),https://linkedin.com/jobs/view/3248172392/?alt...,"Massy, Île-de-France, France",Massy,France,On-site,Carrefour,"10,001+ employees",Retail,34.0,2022-09-02 17:00:00,"[api, python, r , sql]"
8,8,"\n <div>\n <div class=""\n jobs-deta...",ALTERNANCE- TOTALENERGIES RENEWABLES - Data En...,https://linkedin.com/jobs/view/3247031864/?alt...,"Courbevoie, Île-de-France, France",Courbevoie,France,On-site,TotalEnergies,"10,001+ employees",Oil and Gas,22.0,2022-09-01 17:00:00,"[api, python, sql, tableau, power bi]"
9,9,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (with Python),https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland,Hybrid,Capgemini,"10,001+ employees",IT Services and IT Consulting,18.0,2022-09-05 17:00:00,"[aws, gcp, azure, python, scala]"
10,10,"\n <div>\n <div class=""\n jobs-deta...",Junior Test Analyst,https://linkedin.com/jobs/view/3257261597/?alt...,"Budapest, Hungary",Budapest,Hungary,Hybrid,Jaguar Land Rover,"10,001+ employees",Motor Vehicle Manufacturing,12.0,2022-09-07 09:00:00,"[ssis, matlab]"
11,11,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257247449/?alt...,Przemyśl Metropolitan Area,Przemyśl,Przemyśl Metropolitan Area,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,NaN,2022-09-07 09:00:00,[]
12,12,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst H/F,https://linkedin.com/jobs/view/3249020546/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,GESER-BEST - FRANCE,201-500 employees,Human Resources Services,7.0,2022-09-01 17:00:00,"[excel, ssis, data studio, tableau]"
13,13,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist e-Commerce & Acquisition Monétique,https://linkedin.com/jobs/view/3248153651/?alt...,"Île-de-France, France",Île-de-France,France,On-site,Societe Generale,"10,001+ employees",Banking,26.0,2022-09-02 17:00:00,"[hadoop, spark, excel, talend, python, vba, sq..."
14,14,"\n <div>\n <div class=""\n jobs-deta...",Ingénieur de recherche en traitement de donnée...,https://linkedin.com/jobs/view/3247851197/?alt...,"Rueil-Malmaison, Île-de-France, France",Rueil-Malmaison,France,On-site,IFP Energies nouvelles,"1,001-5,000 employees",Think Tanks,33.0,2022-09-05 17:00:00,"[api, python, matlab]"
15,15,"\n <div>\n <div class=""\n jobs-deta...",INGENIERO/A PRODUCTO Y CALIDAD AUTOMOCIÓN,https://linkedin.com/jobs/view/3257345539/?alt...,"Zaragoza, Aragon, Spain",Zaragoza,Spain,On-site,CTAG – Centro Tecnológico de Automoción de Gal...,"501-1,000 employees",Research Services,1.0,2022-09-07 16:59:00,[excel]
16,16,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist - Experience,https://linkedin.com/jobs/view/3254095477/?alt...,Denmark,None,Denmark,Remote,Spotify,"5,001-10,000 employees",Musicians,40.0,2022-09-06 19:00:00,"[bigquery, python, sql]"
17,17,"\n <div>\n <div class=""\n jobs-deta...",Stage - Data Analyst (H/F),https://linkedin.com/jobs/view/3249145897/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,Liebherr Group,"10,001+ employees",Industrial Machinery Manufacturing,14.0,2022-09-07 16:59:00,"[excel, vba, sas, power bi]"
18,18,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst (F/H),https://linkedin.com/jobs/view/3253211936/?alt...,"Lille, Hauts-de-France, France",Lille,France,On-site,CELAD,"1,001-5,000 employees",IT Services and IT Consulting,2.0,2022-09-05 17:00:00,"[hadoop, spark, gcp, azure, python]"
19,19,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst (Tableau),https://linkedin.com/jobs/view/3248368719/?alt...,Gibraltar,None,Gibraltar,NaN,Guardian Jobs,51-200 employees,Staffing and Recruiting,30.0,2022-09-07 16:59:00,"[api, excel, python, sql, tableau]"
20,20,"\n <div>\n <div class=""\n jobs-deta...",(Junior) Data Scientist (m/w/d),https://linkedin.com/jobs/view/3256968344/?alt...,"Bad Wimpfen, Baden-Württemberg, Germany",Bad Wimpfen,Germany,Hybrid,Lidl in Germany,"10,001+ employees",Retail,35.0,2022-09-07 12:00:00,"[spark, python, sql]"
21,21,"\n <div>\n <div class=""\n jobs-deta...",Junior Data Scientist,https://linkedin.com/jobs/view/3256742948/?alt...,Wroclaw Metropolitan Area,Wroclaw,Poland,Remote,Intrum,"10,001+ employees",Financial Services,76.0,2022-09-07 07:00:00,[ r ]
22,22,"\n <div>\n <div class=""\n jobs-deta...",Data Scientist en stage H/F,https://linkedin.com/jobs/view/3257956457/?alt...,"Nanterre, Île-de-France, France",Nanterre,France,On-site,Groupama Assurances Mutuelles,"1,001-5,000 employees",Insurance,14.0,2022-09-07 13:00:00,[]
23,23,"\n <div>\n <div class=""\n jobs-deta...",Software Development Engineer (Seville // Madr...,https://linkedin.com/jobs/view/3258119238/?alt...,"Seville, Andalusia, Spain",Seville,Spain,On-site,"Solera, Inc.","5,001-10,000 employees",IT Services and IT Consulting,NaN,2022-09-07 16:59:00,"[api, excel, docker, ssis, python, sql, sas, p..."
24,24,"\n <div>\n <div class=""\n jobs-deta...",DATA SCIENTIST,https://linkedin.com/jobs/view/3250312170/?alt...,"Pascuales, Castilla and Leon, Spain",Pascuales,Spain,NaN,Grupo Modelo S.A. de C.V.,"10,001+ employees",Food and Beverage Services,NaN,2022-09-07 16:23:00,"[excel, tableau]"

Add work type.

In [58]:
def get_worktype(row):
    try:
        info = BeautifulSoup(row).find('div', class_ = 'mt5 mb2')
        return info.select('ul > li:nth-of-type(1) > span')[0].text.strip().split('·')[0].strip()
    except:
        return np.NaN

In [59]:
df['worktype'] = df['html'].apply(get_worktype)

In [60]:
df

,Unnamed: 0,html,title,link,geo,city,country,workplace_type,company,employees_number,field_of_activity,applicants,posted_date,skills,worktype
0,0,"\n <div>\n <div class=""\n jobs-deta...",Stage - Assistant Ingénieur Qualité - Beyrand ...,https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,On-site,Hermès,"10,001+ employees",Retail Luxury Goods and Jewelry,NaN,2022-09-07 16:47:00,"[api, excel]",Internship
1,1,"\n <div>\n <div class=""\n jobs-deta...","développeur matlab/simulink, secteur automobil...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,On-site,AUSY,"5,001-10,000 employees",IT Services and IT Consulting,6.0,2022-09-03 17:00:00,[matlab],Full-time
2,2,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,12.0,2022-09-01 17:00:00,[],Part-time
3,3,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International,"10,001+ employees",IT Services and IT Consulting,11.0,2022-09-01 17:00:00,[],Part-time
4,4,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,2.0,2022-09-07 09:00:00,[],Part-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,767,"\n <div>\n <div class=""\n jobs-deta...",Sviluppatore php,https://linkedin.com/jobs/view/3249468195/?alt...,"Lombardy, Italy",Lombardy,Italy,On-site,NaraCamicie,201-500 employees,NaN,14.0,2022-09-02 17:00:00,"[sql, java, html]",Full-time
768,768,"\n <div>\n <div class=""\n jobs-deta...",Junior Developer (J12996),https://linkedin.com/jobs/view/3253817004/?alt...,"Salamanca, Castilla and Leon, Spain",Salamanca,Spain,Remote,Pareto,201-500 employees,Staffing and Recruiting,63.0,2022-09-07 16:59:00,"[excel, ssis, java]",Full-time
769,769,"\n <div>\n <div class=""\n jobs-deta...",Principal Product Designer (Design System + De...,https://linkedin.com/jobs/view/2874639790/?alt...,"Budapest, Hungary",Budapest,Hungary,Remote,Bitrise,201-500 employees,IT Services and IT Consulting,33.0,2022-09-07 09:00:00,[],Full-time
770,770,"\n <div>\n <div class=""\n jobs-deta...",Backend Engineer - Personalization,https://linkedin.com/jobs/view/3254092624/?alt...,Denmark,None,Denmark,Remote,Spotify,"5,001-10,000 employees",Musicians,3.0,2022-09-06 18:00:00,"[api, scala, java]",Full-time
771,771,"\n <div>\n <div class=""\n jobs-deta...",Stage - Consultant(e) Data Engineer - Big Data...,https://linkedin.com/jobs/view/3241983304/?alt...,"Toulouse, Occitanie, France",Toulouse,France,NaN,Avanade,NaN,NaN,NaN,2022-09-01 17:00:00,[],NaN

## Preparing data to dashboard

**_Select vacancies relevant for the data analysts._**

In [8]:
#Create list of vacancies don't fit for the data analyst.
names_list = ['Enterprise Architect Analyst', 'Systems Data Analyst', 'Data Modelling Analyst', 'Data Engineer for Business Intelligence', 
              'Data Analytics team', 'Data Engineering & Data Warehouse Analyst (all genders)']

In [62]:
df = df.query('title not in @names_list')

In [63]:
df = df[df.title.str.contains('Analyst')]

Check for duplicates.

In [64]:
df.loc[:, 'html' : 'posted_date'].duplicated().sum()

0

Duplicates is absent.

Remove Unnamed column which consists vacancy indexes.

In [65]:
df = df.reset_index(drop=True).drop(columns = 'Unnamed: 0')

In [66]:
df

,html,title,link,geo,city,country,workplace_type,company,employees_number,field_of_activity,applicants,posted_date,skills,worktype
0,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,12.0,2022-09-01 17:00:00,[],Part-time
1,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst - Belgium,https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,Remote,TELUS International,"10,001+ employees",IT Services and IT Consulting,11.0,2022-09-01 17:00:00,[],Part-time
2,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,2.0,2022-09-07 09:00:00,[],Part-time
3,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,https://linkedin.com/jobs/view/3257228331/?alt...,"Hamburg, Germany",Hamburg,Germany,Remote,TELUS International AI Data Solutions,"10,001+ employees",IT Services and IT Consulting,4.0,2022-09-07 09:00:00,[],Part-time
4,"\n <div>\n <div class=""\n jobs-deta...",Junior Test Analyst,https://linkedin.com/jobs/view/3257261597/?alt...,"Budapest, Hungary",Budapest,Hungary,Hybrid,Jaguar Land Rover,"10,001+ employees",Motor Vehicle Manufacturing,12.0,2022-09-07 09:00:00,"[ssis, matlab]",Full-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,"\n <div>\n <div class=""\n jobs-deta...",Junior Business Analyst,https://linkedin.com/jobs/view/3247376375/?alt...,"Hartlepool, England, United Kingdom",Hartlepool,United Kingdom,NaN,Paul Gough Media LLC,11-50 employees,Advertising Services,38.0,2022-09-02 17:00:00,"[api, ssis]",Full-time
330,"\n <div>\n <div class=""\n jobs-deta...",Pressure Analyst,https://linkedin.com/jobs/view/3254323846/?alt...,"Leeds, England, United Kingdom",Leeds,United Kingdom,On-site,CUPONING PULICIDAD S.L.,1-10 employees,"Technology, Information and Internet",NaN,2022-09-07 16:59:00,[excel],Full-time
331,"\n <div>\n <div class=""\n jobs-deta...",Business Analyst H/F - Bordeaux,https://linkedin.com/jobs/view/3243892066/?alt...,"Bordeaux, Nouvelle-Aquitaine, France",Bordeaux,France,NaN,Avanade,"10,001+ employees",IT Services and IT Consulting,5.0,2022-09-02 17:00:00,[api],Full-time
332,"\n <div>\n <div class=""\n jobs-deta...",Junior SAP Analyst,https://linkedin.com/jobs/view/3088544552/?alt...,"Turin, Piedmont, Italy",Turin,Italy,On-site,Accenture Italia,"10,001+ employees",IT Services and IT Consulting,110.0,2022-09-07 08:00:00,"[ssis, informatica]",Full-time
333,"\n <div>\n <div class=""\n jobs-deta...",Internet Analyst,https://linkedin.com/jobs/view/3248393601/?alt...,Athens Metropolitan Area,Athens,Greece,Remote,Appen,"501-1,000 employees",IT Services and IT Consulting,24.0,2022-09-07 16:59:00,"[excel, ssis]",Part-time

Remove link, geo, html columns. They don't need for dashboard.

In [67]:
df = df.drop(columns = ['link', 'geo', 'html'])

For correct skills representation in tableau use explode function.

In [69]:
for_tableau = df.explode('skills')

In [70]:
for_tableau['index'] = for_tableau.index

In [71]:
for_tableau.to_csv('C:\\Users\\1\\Desktop\\\Питон\\Парсинг сайтов с вакансиями\\Linked_in_analysis_yandex\\for_tableau.csv', index = False)

In [72]:
df.to_csv('C:\\Users\\1\\Desktop\\\Питон\\Парсинг сайтов с вакансиями\\Linked_in_analysis_yandex\\for_bi.csv', index = False)

In [74]:
df['title'].value_counts().head(50)

Data Analyst                                                         62
Online Data Analyst                                                  20
Data Analyst H/F                                                     10
Data Internet Analyst                                                 9
Internet Analyst                                                      9
Data Analyst (M/W/D)                                                  5
Junior Analyst (J12996)                                               5
Junior Data Analyst                                                   4
Graduate Data Analyst                                                 4
Data Analyst (m/w/d)                                                  4
Data Analyst  - Boursorama                                            4
Social Media Analyst                                                  3
Junior Business Analyst                                               3
Data Analyst mit Fokus auf Up- und Crossselling (m/w/d)               3
Remote | Data Analyst                                                 2
CX Data Analyst                                                       2
Remote | Internet Analyst                                             2
Data Analyst - Marketing                                              2
Junior Analyst (J12998)                                               2
Online Data Analyst - Belgium                                         2
Data Analyst - Performance                                            2
Data Junior Analyst [Online / Phone Recruitment]                      2
Work From Home | Data Analyst                                         2
Asset Data Analyst                                                    2
Customer Data Analyst (m/w/d)                                         2
Internet Analyst - Remote                                             2
Data Analyst - Associate                                              2
Product/Data Analyst                                                  2
Internet Analyst (Remote Set-up)                                      2
Online Data Analyst | REMOTE OPPORTUNITY                              2
Online Data Analyst - Sweden                                          2
Technology Strategy & Advisory Junior Analyst                         2
Data Analyst (m/f/d)                                                  2
Analyst                                                               2
Data Analyst - AdSales & StoryWorks                                   2
Internet Analyst (Part-time)                                          2
Online Data Analyst - Croatia                                         1
Location Strategy & Data Analyst                                      1
Customer Ledger Data Analyst                                          1
Cybersecurity Data Analyst                                            1
Analyste Data H/F                                                     1
Data Analyst Product, CRO expert                                      1
Data Specialist (Steward / Analyst)                                   1
Media Search Analyst - German (DE)                                    1
GIS Asset Data Analyst                                                1
Data Scientist-Analyst GERS (H/F) - Boulogne-Billancourt (France)     1
Web Analyst for Czech Speaker in Germany                              1
Data Analyst - Demand                                                 1
Commercial Data Analyst - Online Travel - London - £40K               1
PT Compliance Hub - Data Analyst                                      1
Name: title, dtype: int64

[Tableau dashbord with analysis](https://public.tableau.com/app/profile/vladimir3644/viz/Linkedin_16633242347620/Dashboard1)